*.suo
bin
obj
/packages
*.user
/ConcreteDocTypes.Sandbox/App_Data/Logs
/ConcreteDocTypes.Sandbox/App_Data/umbraco.config
/ConcreteDocTypes.Sandbox/App_Data/cache
/ConcreteDocTypes.Sandbox/App_Data/TEMP/PluginCache
/ConcreteContentTypes.Sandbox/App_Data/TEMP
/ConcreteContentTypes.Sandbox/App_Data/Logs
/ConcreteContentTypes.Sandbox/App_Data/cache
/ConcreteContentTypes.Sandbox/App_Data/NuGetBackup
