@inherits ConcreteContentTypes.Core.ViewTemplates.ConcreteViewPage<BlogPost>
@{
	Layout = "Master.cshtml";

}

<br />

<div class="light">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div>
					Author: <a href="@TypedContent.author.Url">@TypedContent.author.Name</a>
				</div>
			</div>
		</div>
	</div>
</div>

@Html.Raw(TypedContent.content)

