<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteSettings" type="ConcreteContentTypes.Core.Configuration.ConcreteSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="ConcreteCSharpWriterSettings" type="ConcreteContentTypes.Core.Configuration.CSharpWriterSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<ConcreteSettings
			Enabled="true"
			GenerateOnContentTypeSave="true"
			GenerateOnMediaTypeSave="true"
			CSharpOutputFolder="Models"
			Namespace="ConcreteContentTypes.Sandbox.Models"  />

	<PropertyTypeDefaults defaultPropertyTemplate="LazyLoadedPropertyTemplate" defaultTypeResolver="StandardPropertyTypeResolver">
		<PropertyType alias="Umbraco.ColorPickerAlias" clrType="string"/>
		<PropertyType alias="Umbraco.CheckBoxList"  clrType="string"/>
		<PropertyType alias="Umbraco.Date"  clrType="DateTime"/>
		<PropertyType alias="Umbraco.DateTime"  clrType="DateTime"/>
		<PropertyType alias="Umbraco.DropDown"  clrType="string"/>
		<PropertyType alias="Umbraco.DropDownMultiple"  clrType="string"/>
		<PropertyType alias="Umbraco.NoEdit" clrType="string" />
		<PropertyType alias="Umbraco.Integer" clrType="int" />
		<PropertyType alias="Umbraco.TinyMCEv3" clrType="IHtmlString" />
		<PropertyType alias="Umbraco.TextboxMultiple" clrType="string" />
		<PropertyType alias="Umbraco.Textbox" clrType="string" />
		<PropertyType alias="Umbraco.TrueFalse" clrType="bool" />
		<PropertyType alias="Umbraco.Guid" clrType="Guid" />
		<PropertyType alias="Umbraco.EmailAddress" clrType="string" />
		<PropertyType alias="Umbraco.MarkdownEditor" clrType="IHtmlString" />
		<PropertyType alias="Umbraco.UploadField" clrType="string" />

		<PropertyType alias="Umbraco.ContentPickerAlias" clrType="IPublishedContent" template="ContentPickerPropertyTemplate" />

		<PropertyType alias="Umbraco.MultiNodeTreePicker" template="MNTPPropertyProperty" />

		<PropertyType alias="Umbraco.Grid" clrType="GridContent" template="GridPropertyTemplate" />

		<PropertyType alias="Our.Umbraco.NestedContent" template="NestedContentPropertyTemplate" />

		<PropertyType alias="Umbraco.MediaPicker" />

		<PropertyType alias="Umbraco.MultipleMediaPicker" />

	</PropertyTypeDefaults>

</configuration>