<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteContentTypesSettings" type="ConcreteContentTypes.Core.Configuration.Settings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="ConcreteContentTypeResolvers" type="ConcreteContentTypes.Core.Configuration.TypeResolverSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<ConcreteContentTypesSettings
			Enabled="true"
			GenerateOnDataTypeSave="true"
			GenerateOnContentTypeSave="true"
			CSharpOutputFolder="C:\Users\Dave\Source\Repos\ConcreteContentTypes\ConcreteContentTypes.Sandbox\Models"
			BaseClassName="UmbracoContent"
			Namespace="ConcreteContentTypes.Sandbox.Models"
			AssemblyName="ContentTypes.dll"
			AssemblyVersion="1.0.0.0"
			AssemblyOutputFolder="C:\Users\Dave\Source\Repos\ConcreteContentTypes\ConcreteContentTypes.Sandbox\App_Data\ConcreteContentTypes\bin" />

	<ConcreteContentTypeResolvers>
		<DataTypeResolvers>
			<TypeResolver type="ConcreteContentTypes.Core.DataTypeResolution.ArchetypeDataTypeResolver, ConreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Immulus.Archetype" />
				</SupportedTypes>
			</TypeResolver>
		</DataTypeResolvers>
		<TypeResolvers>
			<TypeResolver type="ConcreteContentTypes.Core.PropertyTypeResolution.BasicTypeResolver, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.Guid" />
					<Type alias="Umbraco.TextboxMultiple" />
					<Type alias="Umbraco.Textbox" />
					<Type alias="Umbraco.TrueFalse" />
					<Type alias="Umbraco.ColorPickerAlias" />
					<Type alias="Umbraco.Date" />
					<Type alias="Umbraco.DateTime" />
					<Type alias="Umbraco.EmailAddress" />
					<Type alias="Umbraco.NoEdit" />
					<Type alias="Umbraco.MarkdownEditor" />
					<Type alias="Umbraco.Integer" />
					<Type alias="Umbraco.TinyMCEv3" />
				</SupportedTypes>
			</TypeResolver>
			<TypeResolver type="ConcreteContentTypes.Core.PropertyTypeResolution.ContentPickerTypeResolver, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.ContentPickerAlias" />
				</SupportedTypes>
			</TypeResolver>
			<TypeResolver type="ConcreteContentTypes.Core.PropertyTypeResolution.MultiNodeTreePickerTypeResolver, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.MultiNodeTreePicker" />
				</SupportedTypes>
			</TypeResolver>
			<TypeResolver type="ConcreteContentTypes.Core.PropertyTypeResolution.UmbracoGridTypeResolver, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.Grid" />
				</SupportedTypes>
			</TypeResolver>
		</TypeResolvers>
	</ConcreteContentTypeResolvers>
</configuration>