<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteContentTypesSettings" type="ConcreteContentTypes.Core.Configuration.Settings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="ConcreteContentTypeCSharpWriterSettings" type="ConcreteContentTypes.Core.Configuration.CSharpWriterSettings, ConcreteContentTypes.Core" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<ConcreteContentTypesSettings
			Enabled="true"
			GenerateOnContentTypeSave="true"
			CSharpOutputFolder="Models"
			Namespace="ConcreteContentTypes.Sandbox.Models" />

	<ConcreteContentTypeCSharpWriterSettings>
		<CSharpWriters>
			<CSWriter type="ConcreteContentTypes.Core.PropertyTypeCSharpWriters.BasicPropertyTypeCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.ColorPickerAlias" clrType="string"/>
					<Type alias="Umbraco.CheckBoxList"  clrType="string"/>
					<Type alias="Umbraco.Date"  clrType="DateTime"/>
					<Type alias="Umbraco.DateTime"  clrType="DateTime"/>
					<Type alias="Umbraco.DropDown"  clrType="string"/>
					<Type alias="Umbraco.DropDownMultiple"  clrType="string"/>
					<Type alias="Umbraco.NoEdit" clrType="string" />
					<Type alias="Umbraco.Integer" clrType="int" />
					<Type alias="Umbraco.TinyMCEv3" clrType="IHtmlString" />
					<Type alias="Umbraco.TextboxMultiple" clrType="string" />
					<Type alias="Umbraco.Textbox" clrType="string" />
					<Type alias="Umbraco.TrueFalse" clrType="bool" />
					<Type alias="Umbraco.Guid" clrType="Guid" />
					<Type alias="Umbraco.EmailAddress" clrType="string" />
					<Type alias="Umbraco.MarkdownEditor" clrType="IHtmlString" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.PropertyTypeCSharpWriters.ContentPickerPropertyTypeCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.ContentPickerAlias" clrType="IPublishedContent" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.PropertyTypeCSharpWriters.MNTPPropertyTypeCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.MultiNodeTreePicker" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.PropertyTypeCSharpWriters.GridPropertyTypeCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Umbraco.Grid" clrType="GridContent" />
				</SupportedTypes>
			</CSWriter>
			<CSWriter type="ConcreteContentTypes.Core.PropertyTypeCSharpWriters.NestedContentCSharpWriter, ConcreteContentTypes.Core">
				<SupportedTypes>
					<Type alias="Our.Umbraco.NestedContent" />
				</SupportedTypes>
			</CSWriter>
		</CSharpWriters>
	</ConcreteContentTypeCSharpWriterSettings>
</configuration>